<div class="jumbo-hero flex-container">
  <div class="jumbo-hero-item flex-item text-center">
    <h1>Création de sites web pour les TPE</h1>
    <p>L'agence web à taille humaine. </p>
    <%= link_to 'En savoir plus', "#", class: "btn identify-button" %>
  </div>
</div>

<div class="jumbo-intro">
  <div class="container">
    <div class="row">
      <div class="jumbo-intro-title">
        <h2>Notre crédo, les Très Petites Entreprises.</h2>
      </div>
      <div class="jumbo-intro-subtitle">
        <p>Notre objectif est <strong>d'acompagner les TPE</strong> dans l'élaboration de leur <span>strategie digitale</span>, dans la conception <br>de leur <span>identité visuelle</span>, et dans le développement de leur <span>présence sur le web.</span></p>
      </div>
    </div>
  </div>

</div>

<div class="jumbo-presta">
  <div class="container">
    <div class="row row-eq-height">
      <div class="col-md-4">
        <div class="jumbo-presta-item">
          <div class="jumbo-presta-item-icon" id="laptop"></div>

          <div class="jumbo-presta-item-title">
            Création de sites web vitrine, dynamique et <br>e-commerce.
          </div>
          <div class="jumbo-presta-item-content">
            Nous concevons aussi bien des sites vitrines dit 'statiques' que des sites dynamique et interactif.
          </div>
          <div class="jumbo-presta-item-btn">
            <%= link_to "En savoir plus", "#"  %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="jumbo-presta-item">
          <div class="jumbo-presta-item-icon" id="search"></div>
          <div class="jumbo-presta-item-title">
            Référencement naturel et payant sur les moteurs de recherche.
          </div>
          <div class="jumbo-presta-item-content">
            Nous optimisions nos sites web pour qu'il apparaissent sur les moteurs de recherches.
          </div>
          <div class="jumbo-presta-item-btn">
            <%= link_to "En savoir plus", "#"  %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="jumbo-presta-item">
          <div class="jumbo-presta-item-icon" id="logo"></div>

          <div class="jumbo-presta-item-title">
            Conception de chartes graphique et supports de communication.
          </div>
          <div class="jumbo-presta-item-content">
            Nous proposons la création d'une charte graphique avec ses déclinaisons sur tout type de supports de communication : cartes de visite, flyers etc.
          </div>
          <div class="jumbo-presta-item-btn">
            <%= link_to "En savoir plus", "#"  %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<!-- <div class="jumbo-divider">
  <div class="container">
    <div class="row">
      <div class="section-divider width-75 margin-center"></div>
    </div>
  </div>
</div> -->


<div class="jumbo-features">

  <div class="container">
    <div class="row">
      <h2 class="text-center">Des échanges facilités.</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="jumbo-features-img" id="chat"></div>
        <div class="jumbo-features-title">
          Messagerie interne
        </div>
        <div class="jumbo-features-content">
          Nous avons développer une messagerie interne pour simplifier les échanges entre le chef de projet et vous.
          Fini les échanges de mails interminables, fini les questions sans réponses !
        </div>
      </div>
      <div class="col-md-4">
        <div class="jumbo-features-img" id="article"></div>
        <div class="jumbo-features-title">
         Fiches conseils
       </div>
       <div class="jumbo-features-content">
        Nous avons préparé des dixiènes de fiches conseils qui sont mis à votre disposition afin de vous facilitez la tâche.
        Vous allez devenir de vrais experts !
      </div>

    </div>
    <div class="col-md-4">
      <div class="jumbo-features-img" id="transfert">

      </div>
      <div class="jumbo-features-title">
        Transfert de fichiers

      </div>
      <div class="jumbo-features-content">
        Vous avez la possibilité de nous transmettre du texte, des images etc. Les informations transmises sont confidentielles, vous pouvez les modifiers ou les supprimers à tout moment !
      </div>
    </div>
  </div>
</div>
</div>

<div class="jumbo-citation flex-container">
  <div class="flex-item text-center">
    <h2>Parce que vous n'êtes pas des Pigeons <br> Vous serez nos poussins !</h2>
    <p>EN SAVOIR PLUS</p>
  </div>
</div>



<div class="jumbo-price">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="jumbo-price-intro">
          <h2>Une tarifications transparente. <br><span>Pas de frais cachés !</span></h2>

        </div>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-md-4 flex">
        <div class="jumbo-price-item">
          <div class="jumbo-price-item-title">
            Starter
          </div>
          <div class="jumbo-price-item-price">
            990 €
          </div>
          <div class="jumbo-price-item-content">
            <ul>
              <li>Marketing</li>
              Mais il faudra surement qu'il y ai plus de truc
            </ul>
          </div>

        </div>
      </div>
      <div class="col-md-4 flex">
        <div class="jumbo-price-item">
          <div class="jumbo-price-item-title">
            Power
          </div>
          <div class="jumbo-price-item-price">
            2450 €
          </div>
          <div class="jumbo-price-item-content">
            <ul>
              <li>Marketing</li>
              <li>Supports imprimés</li>
              du coup sur celui la aussi il faudra plus de truc
            </ul>
          </div>

        </div>
      </div>
      <div class="col-md-4 flex">
        <div class="jumbo-price-item">
          <div class="jumbo-price-item-title">
            Premium
          </div>
          <div class="jumbo-price-item-price">
            4950 €
          </div>
          <div class="jumbo-price-item-content">
            <ul>
              <li>Marketing</li>
              <li>Supports imprimés</li>
              <li>Site internet</li>
            </ul>

          </div>

        </div>
      </div>
    </div>
  </div>



</div>

<div class="jumbo-eddy flex-container">
  <div class="flex-item text-center">
    <h2>Vous hésitez à vous lancer ?<br>Rencontrons Nous !</h2>
    <i class="fa fa-angle-down pulse" aria-hidden="true"></i>
  </div>

</div>

<div class="contact-form" id="contact-form">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h3 class="contact-form-title">Nous contacter.</h3>
        <p class="contact-form-subtitle">N'hésitez pas à utiliser notre formulaire de contact ci-dessous pour toute demande d'informations. Nous vous recontacterons dans les meilleurs délais.</p>
        <%= render 'shared/contact_form' %>
      </div>
    </div>
  </div>
</div>





